/*---------------------------------
            FONTS
----------------------------------*/
@font-face {
    font-family: SansaPro;
    src: url('/assets/fonts/SansaPro-Light.otf');
    font-weight: lighter;
}

@font-face {
    font-family: SansaPro;
    src: url('/assets/fonts/SansaPro-Normal.ttf');
    font-weight: normal;
}

@font-face {
    font-family: SansaPro;
    src: url('/assets/fonts/SansaPro-SemiBold.ttf');
    font-weight: bold;
}

/*---------------------------------
            GLOBAL STYLES
----------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: SansaPro, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.container {
    max-width: 1200px !important;
    margin: 0 auto !important;
}

/*---------------------------------
        HEADER & NAVIGATION
----------------------------------*/
.site-header {
    background: hsl(40, 8%, 92%);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 100px;
}

.navigation {
    background: linear-gradient(to right, hsl(357, 100%, 40%), hsl(357, 100%, 40%) 70%, hsl(0, 100%, 90%) 80%, hsl(357, 100%, 40%));
    color: white;
    position: relative;
}

.header-logo {
    width: 271px;
    height: 132px;
    border-radius: 0.5em;
    background: white;
    position: absolute;
    top: -80px;
}

.navigation-list.container {
    padding-left: 275px;
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 0 1em;
}
/*---------------------------------
        SECTION STYLES
----------------------------------*/
.section-heading {
    font-size: 1.4rem;
    color: hsl(240, 50%, 25%);
    text-align: center;
    text-transform: uppercase;
}

/*---------------------------------
            HERO SECTION
----------------------------------*/
.hero {
    display: flex;
    flex-wrap: wrap;
}
.hero-branding {
}
.hero-logo {
    margin: 2em auto 2em 4em;
}
.hero-main {
    
}
.hero-main-text {
    margin: 1em auto;
    padding-left: 3em;
}
.hero-heading {
    color: hsl(240, 50%, 25%);
    font-size: 1.5rem;
    text-transform: uppercase;
}
.hero-text {
    font-size: 1.2rem;
}
.hero-main-image {
}

/*---------------------------------
            HOMEPAGE FORMS
----------------------------------*/
.homepage-forms {
    padding: 4em 1em;
}
.site-form {
    border: 3px solid hsl(0, 0%, 80%);
    position: relative;
}
.site-form::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid hsl(0, 0%, 80%);
    background: hsl(0, 0%, 90%);
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin: 0 auto;
}
.homepage-location-form, .homepage-registration-form {
    margin-top: 2em;
    padding: 4em 1em;
}
.homepage-location-form {
    text-align: center;
}
.homepage-registration-form {
    text-align: center;
    background: hsl(0, 0%, 90%);
    padding-bottom: 1.1em;
}
.registered {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.registered > span {
    display: block;
    text-transform: uppercase;
}
.form-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.form-input {
    display: block;
    padding: 0.6em;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: SansaPro, sans-serif;
    width: 90%;
    margin: 1em auto;
    border: 3px solid hsl(0, 0%, 80%);
    text-align: center;
}
input[type="text"].form-input {
    margin: 0.5em auto 1em auto;
}

.form-button {
    background: hsl(357, 100%, 45%);
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    margin: 0.5em auto;
    width: 90%;
    padding: 0.6em;
}
/*---------------------------------
          PARTNER SECTION
----------------------------------*/
.offline-partners, .online-partners {
    position: relative;
    padding: 1.5em 0;
}
.partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid black;
}
.partner-icon {
    border: 1px solid black;
    height: 120px;
    width: 180px;
}
.partner-offline-heading {
    color: hsl(357, 100%, 40%);
}

/*---------------------------------
              FOOTER
----------------------------------*/
.footer {
    padding: 0;
    margin: 0;
    margin-top: 4em;
}
.footer > img {
    width: 100%;
}
.sub-footer {
    padding: 0.1em;
    border-bottom: 0.5em solid black;
    color: white;
    background: hsl(357, 100%, 40%);
}
.sub-footer-text {
    padding-left: 4em;
    font-size: 0.8rem;
    font-weight: normal;
}
/*---------------------------------
              MISC
----------------------------------*/
.gutter-1em.row {
    margin-right: -2em;
    margin-left: -2em;
}
.gutter-1em.row > [class^="col-"], .gutter-1em.row > [class^=" col-"] {
    padding-right: 2em;
    padding-left: 2em;
}