/*---------------------------------
              FONTS
----------------------------------*/
@font-face {
    font-family: SansaPro;
    src: url(SansaPro-Light.otf) format('OTF');
    font-weight: lighter;
}

@font-face {
    font-family: SansaPro;
    src: url(SansaPro-Normal.ttf) format('TrueType');
    font-weight: normal;
}

@font-face {
    font-family: SansaPro;
    src: url(SansaPro-SemiBold.ttf) format('TrueType');
    font-weight: bold;
}

/*---------------------------------
            GLOBAL STYLES
----------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: SansaPro, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    min-width: 320px;
}

.container {
    max-width: 1140px !important;
    margin: 0 auto !important;
    position: relative;
}

/*---------------------------------
        HEADER & NAVIGATION
----------------------------------*/
.site-header {
    background: hsl(40, 8%, 92%);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 115px;
    padding-bottom: 30px;
}
.header-pass-shopping {
    width: 200px;
    position: absolute;
    right: 35px;
    top: -100px;
}
.navigation {
    background: linear-gradient(to right, hsl(357, 100%, 40%), hsl(357, 100%, 40%) 77%, hsl(30, 80%, 70%) 84%, hsl(357, 100%, 40%) 94%);
    color: white;
    position: relative;
}

.header-logo {
    width: 271px;
    height: 132px;
    border-radius: 0.5em;
    background: white;
    z-index: 3;
    position: absolute;
    top: -95px;
    left: 100px;
}
.header-logo > img {
    position: absolute;
    top: 20px;
    right: 50px;

}

.navigation-list.container {
    padding-left: 150px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    z-index: 5;
    background: inherit;
}

.navigation-link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 0;
    font-size: 1rem;
}

.navigation-link > img {
    display: inline;
}
.nav-login {
    display: flex;
    cursor: pointer;
}
.nav-login > img {
    height: 1rem;
}
/*---------------------------------
        SECTION STYLES
----------------------------------*/
.section-heading {
    font-size: 1.4rem;
    color: hsl(240, 50%, 25%);
    text-align: center;
    text-transform: uppercase;
}

/*---------------------------------
            HERO SECTION
----------------------------------*/
.hero {
    display: flex;
    flex-wrap: wrap;
}
.hero-branding {
    z-index: 5;
}
.hero-logo {
    margin: 2em auto 2em 4em;
}
.hero-main {
    margin: 0; 
    padding: 0;
}
.hero-main-text {
    margin: 1em auto;
    padding-left: 3em;
    z-index: -1;
}
.hero-heading {
    color: hsl(240, 50%, 25%);
    font-size: 1.5rem;
    text-transform: uppercase;
}
.hero-text {
    font-size: 1.2rem;
}
.hero-main-image {
    position: relative;
    margin-left: -3em;
    top: -1em;
}

/*---------------------------------
            HOMEPAGE FORMS
----------------------------------*/
.homepage-forms {
    padding: 4em 1em;
}
.site-form {
    border: 4px solid hsl(0, 0%, 80%);
    position: relative;
    text-align: center;
}
.form-arc {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid hsl(0, 0%, 80%);
    background: hsl(0, 0%, 90%);
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin: 0 auto;
}
.form-arc > img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}
.homepage-login-form {
    background: hsl(0, 0%, 90%);
    position: absolute;
    right: 0;
    z-index: 100;
}
.homepage-location-form, .homepage-registration-form {
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    padding: 4em 1em;
}
.homepage-location-form {
    text-align: center;
    position: relative;
}

.homepage-location-form::after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../png/Location-map.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    
}
.form-heading {
    width: 90%;
    margin: auto;
}

.homepage-location-form .form-arc {
    background-color: hsla(0, 0%, 100%, 0.8);;
    background-image: url('../svg/Pass shopping consumer-location-lock.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
}

.search-sign {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    background-image: url('../png/select dropdown.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    text-align: center;
    text-align-last: center;
}
.search-sign > options {
    text-align: center;
}
.homepage-registration-form {
    text-align: center;
    background: hsl(0, 0%, 90%);
    padding-bottom: 1.1em;
}
.homepage-registration-form .form-arc {
    background-image: url('../svg/Pass shopping consumer-registration-lock.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
}
.registered {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.registered > span {
    display: block;
    text-transform: uppercase;
}
.form-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.form-input {
    display: block;
    padding: 0.6em;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: SansaPro, sans-serif;
    width: 90%;
    margin: 1em auto;
    border: 4px solid hsl(0, 0%, 80%);
    text-align: center;
}
input[type="text"].form-input {
    margin: 0.5em auto 1em auto;
}

.form-button {
    background: hsl(357, 100%, 45%);
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    margin: 0.5em auto;
    width: 90%;
    padding: 0.6em;
    cursor: pointer;
}
/*---------------------------------
          PARTNER SECTION
----------------------------------*/
.offline-partners, .online-partners {
    position: relative;
    padding: 1.5em 0;
}
.partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.partner-icon {
    height: 120px;
    width: 180px;
}
.partner-offline-heading {
    color: hsl(357, 100%, 40%);
}

/*---------------------------------
              FOOTER
----------------------------------*/
.footer {
    padding: 0;
    margin: 0;
    margin-top: 4em;
}
.footer > img {
    width: 100%;
}
.sub-footer {
    padding: 0.1em;
    border-bottom: 0.5em solid black;
    color: white;
    background: hsl(357, 100%, 40%);
}
.sub-footer-text {
    padding-left: 4em;
    font-size: 0.8rem;
    font-weight: normal;
}
/*---------------------------------
            PAGE LAYOUT
----------------------------------*/
.top-stuff {
    display: flex;
}
.side-form {
    width: 350px;
}
.main {
    flex: 0 0 750px;
}
.side {
    flex: 0 0 350px;
    margin-left: 1.5em;
    padding: 0;
}
/*---------------------------------
            SEACRCH MAIN
----------------------------------*/
.search-main > .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.store-locations-map {
    background: url('../png/locations-full-map.png');
    background-repeat: no-repeat;
    width: 750px;
    height: 545px; 
}
.store-locations-map.milan {
    background: url('../png/Pass shopping consumer-milan-location-map.png');
    background-repeat: no-repeat;
}
.form-partner {
    margin: 0 auto;
}
.main-search-location-form {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 5em 0 2em 0;
    background: hsl(0, 0%, 90%);
}
.main-search-location-form > .form-input {
    width: 95%;
    margin: 1em auto;
}
.main-search-location-form > button {
    width: 90%;
    margin: 0 auto;
}
.main-search-location-form .form-arc {
    background-color: hsl(0, 0%, 100%);
    background-image: url('../svg/Pass shopping consumer-location-lock.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
}

/*---------------------------------
              MISC
----------------------------------*/
.hidden {
    display: none;
}
.row.pg7 {
    align-items: flex-start;
}
.side-form {
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.side-form.milan {
    justify-content: start;
}
.promo {
    border: 3px solid hsl(0, 0%, 80%);
    background: hsl(0, 0%, 90%);
    display: flex;
    padding: 2em;
}
.promo > h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: hsl(0, 0%, 70%);
    padding: 0;
    margin: 0;
}
.side .promo {
    display: block;
}

.bg3 {
    background: url('../png/Pass shopping 3bg.png');
    background-repeat: no-repeat;
    width: 745px;
    height: 310px;
}
.bg3 > div {
    width: 360px;
    height: 150px;
    position: relative;
    left: 150px;
    top: 10px;
}
.bg3 button {
    width: inherit;
}
.side-thing {
    border: 3px solid hsl(0, 0%, 80%);
}
.side-thing {
    text-align: center;
}
.side-thing  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: 3px solid hsl(0, 0%, 80%);
    padding: 2em;
    padding-top: 0;
}
.side-thing ul {
    margin: 0;
    padding: 2em;
}
.side-thing ul li {
    list-style: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.store-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em;
}
.store-box {
    width: 225px;
    height: 170px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 1em;
}
.store-box img {
    width: 150px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 20px;
}
.store-box ul {
    padding: 0;
    margin: 0;
}
.store-box ul li {
    list-style: none;
}
.divider {
    height: 4px;
    background: hsl(0, 0%, 80%);
}
.descrizione {
    width: 750px;
}
.descrizione > h3, .descrizione > p {
    font-size: 1rem;
}
.top-stuff.ds {
    margin-top: 4em;
}

img.pg6 {
    display: block;
    width: 100px;
}
.site-body.container {
    display: flex;
}
.add-shopping {
    padding: 3em 1em;
    margin: 2em auto;
    border: 2px solid hsl(0, 0%, 80%);
    text-align: center;
}
.add-shopping > h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
}